body {
    background-color: #242527;
}

#header p {
    font-size: 18px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: rgb(196, 196, 196);
}

#form {
    font-size: 26px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

#form p {
    font-size: 14px;
    margin-top: -35px;
}

.dates {
    background-color: rgb(115, 57, 165);
    border-radius: 40px;
    width: 50%;
    padding: 30px;
    margin-left: 20%;
    margin-right: 30%;
}

input[type="date"] {
    background: transparent;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 20px;
    font-size: 14px;
    border: 1px solid black;
}

button[type="button"] {
    background: transparent;
    color: black;
}

.submit {
    padding: 20px;
    border-radius: 18px;
    color: #fff;
    text-decoration: none;
    border: 1px solid black;
    width: fit-content;
}

#answer {
    font-size: 26px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    text-align: center;
}